.App {
  font-family: Arial;
  margin: auto;
  padding:"0%"
}

.App-header {
  background: rgb(106,13,173);
  background: linear-gradient(30deg, rgba(106,13,173,0.946524064171123) 33%, rgba(71,80,237,1) 59%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
}
.nav-link{
  color:white;
  
}
.chat{
  position:fixed;
  bottom:0;
  right:3%;
  padding:10px 20px 10px 20px;
  
  width:300px;
  background-image: linear-gradient(to top,rgba(59, 57, 185, 0.829) 33%, rgba(71,80,237,1));
  text-align:center;
  color:white;
  border-radius:5px

}

.todocontainer{
width: 100%;
height: 100%;
}

.row{
  /* width: 100%; */
}

.App-link {
  color: white;
}

.accountscontainer{
  width: 650px;
  height: 650px;
  position: absolute;
  border-radius: 30px;
  text-align: left; 
  overflow-y: scroll;
  
}
.list-group-item{
  color: black;
  font-size: medium;
}

.mainlistimage{
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cardheading{
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
}

.accountscard{
  width:100%;
  height:100%;
  border-radius: 30px;
}

.todocardheader{
  padding: 6%;
  text-align: center;
}

.sidecontainer{
min-height: 100vh;
padding:10%;
}

.sidecard{
  width:95%;
  height:90vh;
  border-radius: 30px;
  background-image: linear-gradient(to top,rgba(59, 57, 185, 0.829) 33%, rgba(71,80,237,1));
  color:white;

}

.tickmark{
  width: 20px;
  height: 20px;
}

.maincontainer{
  padding-top:5%;
  justify-content:right;
}
.border-right {
  border-right: 1px solid black;
}

.todoList{
  list-style-type: none;
}
.completedlist{
  list-style-type: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);


}